.bg-gray1 {
    background-color: #eeeeee;
}
.bg-gray2 {
    background-color: #dddddd
}
.bg-gray3 {
    background-color: #cccccc; 
}
.bg-gray4 {
    background-color: #bbbbbb;
}
.bg-gray5 {
    background-color: #c5202b; 
}