name: Backend CI/CD Pipeline

on:
  push:
    branches: 
      - main 
    paths:
      - 'backend/backend-app/**'
  
  pull_request:
    branches: 
      - main
    paths:
      - 'backend/backend-app/**'

jobs:
  ci:
    name: CI - Tests & Quality
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]
    
    defaults:
      run:
        working-directory: backend/backend-app

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: backend/backend-app/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run integration tests
        run: npm run test:integration



  cd:
  name: CD - Deploy to Azure App Service
  needs: ci
  runs-on: ubuntu-latest
  if: github.ref == 'refs/heads/main'

  defaults:
    run:
      working-directory: backend/backend-app

  steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm ci

    - name: Build NestJS app
      run: npm run build

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: backend-avanskeuzecompass
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: backend/backend-app